<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

__Exercise2__: Create markdown cell with title of notebook

<h1>Data Science Tools and Ecosystem</h1>

__Exercise 3-__ Create a markdown cell for introduction

In this notebook, Data Science Tools and Ecosystem are summarized

__Exercise 10 - Insert a markdown cell to list Objectives__

__Objectives__:
* to introduce data science tools like python, java, etc
* to introduce data science libraries like Numpy, Pandas, Seaborn, etc
* to introduce data science open source tools like git, Apache, tensorFlow, etc

__Exercise 4 - Create a markdown cell to list data science languages__

1. java
2. Python
3. R
4. Scala

 __Exercise 5 - Create a markdown cell to list data science libraries__

1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn

__Exercise 6 - Create a markdown cell with a table of Data Science tools__

Data Science Tools|
___
git|
____
Apache Spark
___
TensorFlow
____

__Exercise 7 - Create a markdown cell introducing arithmetic expression examples__

### Below are a few examples of evaluating arithmetic expressions in Python

__Exercise 8 - Create a code cell to multiply and add numbers__

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

__Exercise 9 - Create a code cell to convert minutes to hours__

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Exercise 11 - Create a markdown cell to indicate the Author's name__

## Author
Omanoye Emmanuel